body {
  margin: 0;
  line-height: normal;
}
.rectangle-div15 {
  position: absolute;
  top: 0;
  left: 1012px;
  background-color: rgba(115, 119, 123, 0.2);
  width: 428px;
  height: 1275px;
}
.rectangle-div16,
.rectangle-div17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.rectangle-div16 {
  background-color: #0dbb84;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 75px;
}
.rectangle-div17 {
  background-color: rgba(13, 187, 132, 0.9);
  height: 165px;
  opacity: 0.9;
}
.stdcommunication-div1 {
  position: absolute;
  top: 22px;
  left: 567px;
  display: inline-block;
  width: 403px;
  height: 61px;
  mix-blend-mode: normal;
}
.star-icon1 {
  position: absolute;
  top: 27.22px;
  left: 497.04px;
  border-radius: 25px;
  width: 90px;
  height: 90px;
}
.tobeit66kmitl-p1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.you-can-contact1 {
  margin: 0;
}
.tobeit66kmitl-tel-0181925261 {
  position: absolute;
  top: 83px;
  left: 394px;
  font-size: 15px;
  font-family: Inria Sans;
  text-align: center;
  display: inline-block;
  width: 651px;
}
.my-contact-div1 {
  position: absolute;
  top: 1222px;
  left: 0;
  width: 1440px;
  height: 165px;
  font-size: 40px;
  font-family: RocknRoll One;
}
.feapp-menu-icon1 {
  position: absolute;
  top: 18px;
  left: 1382px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.rectangle-div18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 351px;
  height: 51px;
}
.bisearch-heart-icon {
  position: absolute;
  top: 11px;
  left: 300px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.search-div1 {
  position: absolute;
  top: 5px;
  left: 22px;
  display: flex;
  align-items: center;
  width: 261px;
  height: 39px;
}
.search-div {
  position: absolute;
  top: 107px;
  left: 1051px;
  width: 351px;
  height: 51px;
  color: rgba(0, 0, 0, 0.3);
}
.uiwstar-on-icon1 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.line-div1 {
  position: absolute;
  top: -1px;
  left: 124px;
  border-right: 2px solid #fff;
  box-sizing: border-box;
  width: 2px;
  height: 52px;
}
.std-div1 {
  position: absolute;
  top: 5px;
  left: 45px;
  display: inline-block;
}
.name-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 50px;
}
.ant-designhome-filled-icon1 {
  position: absolute;
  top: 5px;
  left: 171px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.eppostcard-icon1 {
  position: absolute;
  top: 0;
  left: 257px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.vector-icon1 {
  position: absolute;
  height: 70%;
  width: 8.84%;
  top: 16%;
  right: 0;
  bottom: 14%;
  left: 91.16%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.head-div1 {
  position: absolute;
  top: 13px;
  left: 30px;
  width: 396px;
  height: 50px;
  text-align: center;
  font-size: 32px;
}
.ellipse-icon,
.rectangle-div19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.rectangle-div19 {
  left: 70px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 729px;
}
.akar-iconsimage {
  position: absolute;
  top: 12px;
  left: 733px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.post-div1 {
  position: absolute;
  top: 10px;
  left: 104px;
  display: inline-block;
  width: 608px;
}
.post-div {
  position: absolute;
  top: 111px;
  left: 108px;
  width: 799px;
  height: 60px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.3);
}
.rectangle-div20 {
  position: absolute;
  height: 100%;
  width: 99.99%;
  top: 0;
  right: 0.01%;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
.ellipse-icon1 {
  position: absolute;
  height: 12.9%;
  width: 7.39%;
  top: 5.16%;
  right: 89.78%;
  bottom: 81.94%;
  left: 2.83%;
  max-width: 100%;
  max-height: 100%;
}
.username-div2 {
  position: absolute;
  height: 7.74%;
  width: 16.01%;
  top: 7.31%;
  right: 70.69%;
  bottom: 84.95%;
  left: 13.3%;
  font-weight: 300;
  display: inline-block;
}
.line-div2,
.line-div3 {
  position: absolute;
  height: 0.11%;
  width: 100.06%;
  top: 22.53%;
  right: -0.03%;
  bottom: 77.37%;
  left: -0.03%;
  border-top: 0.5px solid rgba(115, 119, 123, 0.5);
  box-sizing: border-box;
}
.line-div3 {
  top: 86.61%;
  bottom: 13.28%;
}
.akar-iconschat-bubble,
.akar-iconsheart {
  position: absolute;
  height: 6.45%;
  width: 3.69%;
  top: 89.89%;
  right: 93.35%;
  bottom: 3.66%;
  left: 2.96%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.akar-iconschat-bubble {
  right: 3.33%;
  left: 92.97%;
}
.post-username-div,
.post-username-div1,
.post-username-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 812.06px;
  height: 465px;
}
.post-username-div,
.post-username-div2 {
  top: 500px;
}
.post-username-div {
  top: 206px;
  left: 95px;
  height: 965px;
  text-align: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.4);
}
.rectangle-div22 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
.hashtag-div1 {
  position: absolute;
  height: 50.67%;
  width: 37.57%;
  top: 26.32%;
  right: 54.23%;
  bottom: 23.02%;
  left: 8.2%;
  display: inline-block;
}
.component-1-div,
.component-2-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 378px;
  height: 57px;
}
.component-2-div {
  top: 98px;
}
.component-3-div,
.component-4-div,
.component-5-div,
.hashtag-div {
  position: absolute;
  top: 196px;
  left: 0;
  width: 378px;
  height: 57px;
}
.component-4-div,
.component-5-div,
.hashtag-div {
  top: 294px;
}
.component-5-div,
.hashtag-div {
  top: 392px;
}
.hashtag-div {
  top: 192px;
  left: 1037px;
  height: 449px;
  color: rgba(0, 0, 0, 0.4);
}
.ellipse-icon3,
.friend-icon {
  position: absolute;
  top: 716px;
  left: 1054px;
  width: 71px;
  height: 278px;
}
.ellipse-icon3 {
  top: 1028px;
  left: 1056px;
  width: 70px;
  height: 70px;
}
.shareactivity-div {
  position: relative;
  background-color: #ea5c8a;
  width: 100%;
  height: 1387px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Inria Sans;
}
